@import  "tabulator-tables";

.link_icon img {
  max-width: 100%;
  max-height: 100%;
}

.tabulator-popup-container {
  position: absolute;
  /* top: 34px;
  left: 34px; */
  z-index: 2;
  background-color: #fff;
  border: 1px solid #ccc;
}
